extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")
block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src="https://images.unsplash.com/photo-1549122728-f519709caa9c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJvb2t8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60")
                        .card__content
                            h2.product__price ₹ 199
                            .product_discription A very interesting book about so many even more.
                        .card__actions
                            button.btn Add to Cart 🤝
        else 
            h1 No Products 🥴

        