
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}
.form-control input {
    border: 1px solid #5c2501;
    font: inherit;
    border-radius: 2px;
}

button {
    margin-top: 10px;
    font: inherit;
    border: 1px solid #000;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    border: 1px solid #fff;
    background: rgba(31, 6, 6, 0.829);
    color: #fff;
}